<header class="header">
    <div class="logo">
      <h1>My App</h1>
    </div>
    <nav class="nav">
      <ul>
        <!-- <li><a routerLink="/home" routerLinkActive="active">Home</a></li> -->
        <!-- <li><a routerLink="/about" routerLinkActive="active">About</a></li> -->
        <!-- Add more menu items as needed -->
      </ul>
    </nav>
    <div class="auth">
      <a routerLink="/login" routerLinkActive="active">Teacher Login</a>
      <a routerLink="/std_login" routerLinkActive="active">Student Login</a>
      <a routerLink="/sign_up" routerLinkActive="active">Teacher Sign Up</a>
    </div>
  </header>
  