<app-header></app-header>
<div class="form_container">
    <h1>Student Login Form</h1>
    <form [formGroup]="login_std" (ngSubmit)="onSubmitS()">
        <label for="email">*Enter Your Email</label>
        <input type="email"  placeholder="Enter You email" formControlName="email">
        <label for="password">*Enter Your Password</label>
        <input type="password"  placeholder="Enter You Password" formControlName="password">
        <button type="submit">Submit</button>
    </form>
</div>